@import 'sass/variables';
@import 'sass/typography';
@import 'sass/layout';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black-normal;
}

.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.bg-hero {
  background-image: url('/img/svg/bg-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
}

.primary-button {
  background-color: transparent;
  color: $white-normal;
  font-size: 24px;
  padding: $spacing-4x $spacing-9x;
  border: 2px solid $blue-light;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: $blue-light;
  }
}

.border {
  border: 1px solid red;
}
