
$black-normal: #2B2C30;
$black-dark: #1A1B1F;
$black-light: #3E3F42;

$white-normal: #DCDEE5;
$white-dark: #C5C9D9;
$white-light: #EBEDF2;

$blue-normal: #274AD7;
$blue-dark: #1C3EC7;
$blue-light: #385CEB;

$gray-1: #5D5E61;
$gray-2: #4D4E51;
$gray-3: #3E3E40;

.color-gray-1 {
  color: $gray-1;
}

.color-gray-2 {
  color: $gray-2;
}

.color-gray-3 {
  color: $gray-3;
}