
$black-normal: #171819;
$black-dark: #050607;
$black-light: #212223;

$white-normal: #F5F7F7;
$white-dark: #DBDDDD;
$white-light: #E8EAEA;

$blue-normal: #EE4747;
$blue-dark: #E14040;
$blue-light: #F86262;