
$black-normal: #2E2B2B;
$black-dark: #211D1D;
$black-light: #403636;

$white-normal: #F2F2F2;
$white-dark: #E5E5E5;
$white-light: #FAFAFA;

$red-normal: #DA2A2A;
$red-dark: #C41616;
$red-light: #ED4040;

$gray-1: #3E3F40;
$gray-2: #4F4D51;
$gray-3: #5D5E61;

.color-gray-1 {
  color: $gray-1;
}

.color-gray-2 {
  color: $gray-2;
}

.color-gray-3 {
  color: $gray-3;
}