// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  position: fixed;

  padding: 48px 16px;

  .menu-logo {
    h5 {
      text-transform: uppercase;
    }
  }
}

// CONTAINER

.relative {
  position: relative;
}

.container {
  max-width: 1220px;
  
  margin-left: 64px;
  padding: 24px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-item:nth-child(1) {
  flex-grow: 2;
  max-width: 680px;

  margin: 40px 0;
}

.container-item:nth-child(2) {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0;

  img {
    max-width: 400px;
  }
}

.hero {
  height: 100vh;
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .svg-hero {
    box-shadow: inset 0 0 200px $black-dark;
  }
}

.container-circle {
  z-index: 1;

  .circle {

    display: inline-block;
    margin-top: 64px;
  
    font-size: 24px;
  
    padding: 16px 24px;
  
    position: relative;
  
    &::after {
      content: '';
      display: block;
  
      position: absolute;
      top: 0;
      left: 0;
  
      z-index: -1;
  
      width: 120px;
      height: 120px;
  
      transform: translate(-6.5%, -25%) rotate(-119.91deg);
      transition: .5s ease;
  
      background: linear-gradient(180deg, rgba(238, 71, 71, 0.08) 0%, rgba(238, 71, 71, 0.72) 100%);
      border-radius: 9999px;
    }
  
    &:hover {
      &::after {
        transform: translate(-6.5%, -25%) rotate(-90deg);
      }
    }
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// SELECTED WORKS
.list {
  margin-top: 250px;
  padding-top: 150px;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  a:hover {
    & + .img-project {
      opacity: 1;
      transform: translate(-35%, -50%) translate3d(100px, 0, 0);
    }
  }
}

.img-project {
  max-width: 620px;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;

  z-index: -1;

  opacity: 0;
  transform: translate(-35%, -50%) translate3d(-2000px, 0, 0) skew(60deg);

  transition: transform 1s ease;
}

.line-gray {
  border: 0;
  border-bottom: 1px solid $black-light;
}

.get {
  max-width: 1200px;

  margin: 0 auto;
  padding: 16px 24px;
}

// ANIMATIONS
// #circle-1, #circle-3 {
//   transform-origin: center center;
//   transform-box: fill-box;
//   animation: translate1 0.3s ease 5s infinite alternate;

//   will-change: animation;
// }

// #circle-2 {
//   transform-origin: center center;
//   transform-box: fill-box;
//   animation: translate3 0.2s ease 5s infinite alternate;

//   will-change: animation;
// }

// #circle-4 {
//   transform-origin: center center;
//   transform-box: fill-box;
//   animation: translate1 1s ease 5s infinite alternate;

//   will-change: animation;
// }

// #circle-5 {
//   transform-origin: center center;
//   transform-box: fill-box;
//   animation: translate4 10s ease infinite alternate;
//   animation-delay: 5s;

//   pointer-events: none;

//   will-change: animation;
// }

// #circle-6 {
//   transform-origin: center center;

//   transform-box: fill-box;

//   animation: translate4 1s linear infinite alternate;
//   animation-delay: 4s;

//   // pointer-events: none;
//   // visibility: hidden;

//   will-change: animation;
// }

// @keyframes translate1{
//   0% {
//     transform: translate(0);
//   }
//   100% {
//     transform: translate(10px);
//   }
// }

// @keyframes translate2 {
//   0% {
//     transform: translate(0);
//   }
//   100% {
//     transform: translateY(20px);
//   }
// }

// @keyframes translate3 {
//   0% {
//     transform: translate(0);
//   }
//   100% {
//     transform: translateX(20px);
//   }
// }

// @keyframes translate4 {
//   0% {
//     transform: translate(0);
//   }
//   100% {
//     transform: translate(50px);
//   }
// }


// MEDIA QUERIES
@media screen and (max-width: 1400px) {
  .svg-hero {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }

  .container {
    flex-direction: column;
    margin-left: 16px;
  }

  .bg-hero {
    .svg-hero {
      transform: scale(1.2) rotate(40deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .svg-hero {
    transform: scale(2);
  }

  #section-01 {
    margin-top: 150px;
  }

  .bg-hero {
    .svg-hero {
      transform: scale(2) rotate(40deg);
    }
  }

  .circle {
    justify-content: center;

    transform: translate(50%, -26%);
    &::after {  
      transform: translate(-12%, -26%) rotate(-119.91deg);
    }
  }
}