h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

a {
  color: $white-normal;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

p {
  color: $white-normal;
}

.link {
  padding: 8px 24px;
  font-size: 24px;

  display: inline-block;

  position: relative;

  transition: 0.5s ease;

  &::after {
    content: '';
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    width: 0%;
    height: 1px;

    background-color: $white-normal;

    transform: translateX(22%);

    transition: 0.5s ease;
  }

  &:hover {
    opacity: 0.8;

    &::after {
      width: 70%;
    }
  }
}

h1 {
  color: $white-light;
  font-size: 96px;
  line-height: 100%;
}

h2 {
  color: $white-normal;
  font-size: 72px;
  line-height: 110%;
}

h3 {
  color: $white-normal;
  font-size: 54px;
  line-height: 110%;
}

h4 {
  color: $white-dark;
  font-size: 32px;
  line-height: 120%;
}

h5 {
  color: $white-dark;
  font-size: 24px;
  line-height: 130%;
}

h6 {
  color: $white-dark;
  font-size: 18px;
  line-height: 150%;
}

.mask {
  background: linear-gradient(180deg, #274ad7 0%, rgba(56, 92, 235, 0.99) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.circle {
  font-size: 24px;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .link {
    font-size: 18px;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 54px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 54px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .square {
    font-size: 18px;
  }
}
